<Context path="/cat" 
	docBase="cat.war" 
	debug="0" antiResourceLocking="true" >
	
	<Resource name="jdbc/currimap" auth="Container" type="javax.sql.DataSource"
		maxActive="30" maxIdle="10" maxWait="-1"
		username="currimapUser" password="ULCkerriMap"
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost/currimap?autoReconnect=true"/>

</Context>

